@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out var(--ema-animate-fade-in-out-duration) ease-in-out forwards;
}

@keyframes ema-insert {
  0% {
    transform: scale(1.5) rotate(var(--rotate)) translateY(var(--ty));
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(var(--rotate)) translateY(var(--ty));
    opacity: 1;
  }
}

.animate-ema-insert {
  animation: ema-insert var(--ema-insert-duration) ease-out forwards;
}

@keyframes ema-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.animate-ema-popup {
  animation: ema-popup var(--ema-popup-duration) ease-in-out forwards;
}

@keyframes ema-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-ema-bounce {
  animation: ema-bounce var(--ema-bounce-duration) ease;
}

@keyframes section-overlay-fade {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  20%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.animate-section-overlay-fade {
  animation: section-overlay-fade var(--section-overlay-fade-duration) ease-in-out;
}
