@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out var(--ema-animate-fade-in-out-duration) ease-in-out forwards;
}

@keyframes ema-insert {
  0% {
    transform: scale(1.5) rotate(var(--rotate)) translateY(var(--ty));
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(var(--rotate)) translateY(var(--ty));
    opacity: 1;
  }
}

.animate-ema-insert {
  animation: ema-insert var(--ema-insert-duration) ease-out forwards;
}

@keyframes ema-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.animate-ema-popup {
  animation: ema-popup var(--ema-popup-duration) ease-in-out forwards;
}

@keyframes ema-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-ema-bounce {
  animation: ema-bounce var(--ema-bounce-duration) ease;
}

@keyframes section-overlay-fade {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  20%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.animate-section-overlay-fade {
  animation: section-overlay-fade var(--section-overlay-fade-duration) ease-in-out;
}

@keyframes omikuji-shuffle {
  0% {
    transform: translateX(0) translateY(0);
    rotate: 0deg;
  }
  10% {
    transform: translateX(-10px) translateY(5px);
    rotate: -10deg;
  }
  20% {
    transform: translateX(1px) translateY(-1px);
    rotate: 0deg;
  }
  40% {
    transform: translateX(1px) translateY(-1px);
    rotate: 0deg;
  }
  50% {
    transform: translateX(-10px) translateY(5px);
    rotate: -10deg;
  }
  60% {
    transform: translateX(2px) translateY(1px);
    rotate: 0deg;
  }
  70% {
    transform: translateX(-10px) translateY(5px);
    rotate: -10deg;
  }
  80% {
    transform: translateX(0px) translateY(0px);
    rotate: 0deg;
  }
  90% {
    transform: translateX(0px) translateY(0px);
    rotate: 0deg;
  }
  100% {
    transform: translateX(0) translateY(0);
    rotate: 0deg;
  }
}

.animate-omikuji-shuffle {
  animation: omikuji-shuffle 3s infinite;
}

@keyframes inori-slide {
  to {
    background-position-x: -512px;
  }
}

.omikuji-inori {
  width: 256px;
  height: 256px;
  background: url('/images/omikuji/neko_inori.webp') 0 0 / auto 100%;
  animation: inori-slide 1.5s steps(2) infinite;
  will-change: background-position;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '．';
  }
  50% {
    content: '．．';
  }
  75% {
    content: '．．．';
  }
  100% {
    content: '';
  }
}

.omikuji-lot::after {
  content: '';
  display: inline-block;
  animation: dots 2s steps(4) infinite;
  white-space: pre;
}
