@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(0.625rem);
  }
  20%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-0.625rem);
  }
}

.animate-fade-in-out {
  animation: fade-in-out var(--ema-animate-fade-in-out-duration) ease-in-out forwards;
}

@keyframes ema-insert {
  0% {
    transform: scale(1.5) rotate(var(--rotate)) translateY(var(--ty));
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(var(--rotate)) translateY(var(--ty));
    opacity: 1;
  }
}

.animate-ema-insert {
  animation: ema-insert var(--ema-insert-duration) ease-out forwards;
}

@keyframes ema-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 0.625rem);
  }
  10%,
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -0.625rem);
  }
}

.animate-ema-popup {
  animation: ema-popup var(--ema-popup-duration) ease-in-out forwards;
}

@keyframes ema-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0.3125rem);
  }
  40% {
    transform: translateY(-0.625rem);
  }
  60% {
    transform: translateY(0rem);
  }
  90% {
    transform: translateY(-0.125rem);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-ema-bounce {
  animation: ema-bounce var(--ema-bounce-duration) ease;
}

@keyframes section-overlay-fade {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  20%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

.animate-section-overlay-fade {
  animation: section-overlay-fade var(--section-overlay-fade-duration) ease-in-out;
}

@keyframes omikuji-shuffle {
  0% {
    transform: translateX(0) translateY(0);
    rotate: 0deg;
  }
  10% {
    transform: translateX(-0.625rem) translateY(0.3125rem);
    rotate: -10deg;
  }
  20% {
    transform: translateX(0.0625rem) translateY(-0.0625rem);
    rotate: 0deg;
  }
  40% {
    transform: translateX(0.0625rem) translateY(-0.0625rem);
    rotate: 0deg;
  }
  50% {
    transform: translateX(-0.625rem) translateY(0.3125rem);
    rotate: -10deg;
  }
  60% {
    transform: translateX(0.125rem) translateY(0.0625rem);
    rotate: 0deg;
  }
  70% {
    transform: translateX(-0.625rem) translateY(0.3125rem);
    rotate: -10deg;
  }
  80% {
    transform: translateX(0rem) translateY(0rem);
    rotate: 0deg;
  }
  90% {
    transform: translateX(0rem) translateY(0rem);
    rotate: 0deg;
  }
  100% {
    transform: translateX(0) translateY(0);
    rotate: 0deg;
  }
}

.animate-omikuji-shuffle {
  animation: omikuji-shuffle 3s infinite;
}

@keyframes omamori-shuffle {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-0.3125rem);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-0.3125rem);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-omamori-shuffle {
  animation: omamori-shuffle 2s infinite;
}

@keyframes inori-slide {
  to {
    background-position-x: -32rem;
  }
}

.omikuji-inori {
  width: 16rem;
  height: 16rem;
  background: url('/images/omikuji/neko_inori.webp') 0 0 / auto 100%;
  animation: inori-slide 1.5s steps(2) infinite;
  will-change: background-position;
}

@keyframes suzume-in {
  0% {
    transform: scale(0.3) translateX(-100vw) translateY(-70vh);
  }
  100% {
    transform: scale(1) translateX(0) translateY(0);
  }
}

@keyframes suzume-out {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    transform: scale(4) translateX(100vw) translateY(-50vh);
  }
}

@keyframes suzume-stay {
  to {
    background-position-x: 0rem;
  }
}

/* スプライトフレーム切り替え用キーフレーム */
@keyframes suzume-frame0 {
  to {
    background-position-x: 0;
  }
}

@keyframes suzume-frame1 {
  to {
    background-position-x: 50%;
  }
}

@keyframes suzume-frame2 {
  to {
    background-position-x: 100%;
  }
}

.suzume {
  background: url('/images/bg_hude/suzume.webp') 0 0 / auto 100%;
  will-change: background-position, transform;
}

.animate-suzume-in {
  animation:
    suzume-frame1 0s 0.1s forwards,
    suzume-frame2 0s 0.2s forwards,
    suzume-frame1 0s 0.3s forwards,
    suzume-frame2 0s 0.4s forwards,
    suzume-frame1 0s 0.5s forwards,
    suzume-frame2 0s 0.6s forwards,
    suzume-frame1 0s 0.7s forwards,
    suzume-frame2 0s 0.8s forwards,
    suzume-frame1 0s 0.9s forwards,
    suzume-frame2 0s 1s forwards,
    suzume-frame1 0s 1.1s forwards,
    suzume-frame2 0s 1.2s forwards,
    suzume-frame1 0s 1.3s forwards,
    suzume-frame2 0s 1.4s forwards,
    suzume-frame1 0s 1.5s forwards,
    suzume-frame2 0s 1.6s forwards,
    suzume-frame1 0s 1.7s forwards,
    suzume-frame2 0s 1.8s forwards,
    suzume-frame1 0s 1.9s forwards,
    suzume-frame0 0s 2s forwards,
    suzume-in 2s ease-out forwards;
}

.animate-suzume-out {
  animation:
    suzume-frame1 0s 0.1s forwards,
    suzume-frame2 0s 0.2s forwards,
    suzume-frame1 0s 0.3s forwards,
    suzume-frame2 0s 0.4s forwards,
    suzume-frame1 0s 0.5s forwards,
    suzume-frame2 0s 0.6s forwards,
    suzume-frame1 0s 0.7s forwards,
    suzume-frame2 0s 0.8s forwards,
    suzume-frame1 0s 0.9s forwards,
    suzume-frame2 0s 1s forwards,
    suzume-frame1 0s 1.1s forwards,
    suzume-frame2 0s 1.2s forwards,
    suzume-frame1 0s 1.3s forwards,
    suzume-frame2 0s 1.4s forwards,
    suzume-frame1 0s 1.5s forwards,
    suzume-frame2 0s 1.6s forwards,
    suzume-frame1 0s 1.7s forwards,
    suzume-frame2 0s 1.8s forwards,
    suzume-frame1 0s 1.9s forwards,
    suzume-frame0 0s 2s forwards,
    suzume-out 2s ease-out forwards;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '．';
  }
  50% {
    content: '．．';
  }
  75% {
    content: '．．．';
  }
  100% {
    content: '';
  }
}

.omikuji-lot::after {
  content: '';
  display: inline-block;
  animation: dots 2s steps(4) infinite;
  white-space: pre;
}

@keyframes coin-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 0.625rem);
  }
  15%,
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -0.625rem);
  }
}

.animate-coin-popup {
  animation: coin-popup var(--coin-popup-duration) ease-in-out forwards;
}

@keyframes telop-slide-in-out {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-telop-slide-in-out {
  animation: telop-slide-in-out 3s ease-in-out forwards;
}

@keyframes omamori-effect-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 0.625rem);
  }
  15%,
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -0.625rem);
  }
}

.animate-omamori-effect-popup {
  animation: omamori-effect-popup var(--omamori-effect-popup-duration) ease-in-out forwards;
}

@keyframes omamori-shuffle-stop {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-omamori-shuffle-stop {
  animation: omamori-shuffle-stop var(--omamori-shuffle-stop-duration) ease-out forwards;
}

@keyframes throw-coin {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.6) translateY(-25vh);
  }
  100% {
    opacity: 0;
    transform: scale(0.2) translateY(20vh);
  }
}

.animate-throw-coin {
  animation: throw-coin 1s ease-in forwards;
}

.saisen {
  position: fixed;
  bottom: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  opacity: 1;
  will-change: transform, opacity;
}

@keyframes rotate-coin {
  from {
    transform: rotate(0deg) rotateY(0deg);
  }
  to {
    transform: rotate(360deg) rotateY(360deg);
  }
}

.animate-rotate-coin {
  width: 6rem;
  height: 6rem;
  background: url('/images/icon/icon_coin_nadeneko.png') center / cover;
  animation: rotate-coin 1s ease-in-out forwards;
}

@keyframes saisen-se {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  10%,
  50% {
    opacity: 1;
    transform: translateY(-1rem) translateX(-0.2rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-1.2rem) translateX(-0.3rem);
  }
}

.animate-saisen-se {
  position: fixed;
  bottom: 40%;
  left: 40%;
  opacity: 0;
  animation: saisen-se 0.5s ease-in-out forwards;
  animation-delay: 1.2s;
}
