@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@font-face {
  font-family: 'KouzanMouhitu';
  src: url('/fonts/KouzanMouhituFontOTF.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'AoyagiKouzan';
  src: url('/fonts/AoyagiKouzanTOTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ackaisyo';
  src: url('/fonts/ackaisyo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OtsutomeFont';
  src: url('/fonts/OtsutomeFont_Ver3_16.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YuseiMagic';
  src: url('/fonts/YuseiMagic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* bodyで全体に当てているフォントが優先されるので、特殊フォントは!importantをつける */
.font-fude {
  font-family: 'KouzanMouhitu', serif !important;
}
.font-ackaisyo {
  font-family: 'Ackaisyo', serif !important;
}
.font-aoyagi {
  font-family: 'AoyagiKouzan', serif !important;
}
.font-otsutome {
  font-family: 'OtsutomeFont', serif !important;
}
.font-yusei {
  font-family: 'YuseiMagic', serif !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
