@import 'tailwindcss';

@import './variables.css';
@import './fonts.css';
@import './animations.css';
@import './utilities.css';
@import './leaf.css';
@import './buttons.css';
/* デバッグ用 */
section {
  border: 1px dashed red; /* ← お好みで dashed / solid / dotted */
}

html {
  font-size: 16px; /* デフォルトサイズ */
}

@media screen and (min-width: 768px) {
  html {
    font-size: 24px; /* デフォルトは16pxなので約150% */
  }
}
