/* Safari 最適化用に -webkit- 付きも併記 */
@keyframes nadeneko-coin-popup {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0) scaleX(1);
  }
  5% {
    opacity: 0.25;
    transform: translate3d(0, 0.75rem, 0) scaleX(0);
  }
  10% {
    opacity: 0.5;
    transform: translate3d(0, 0.5rem, 0) scaleX(1);
  }
  15% {
    opacity: 0.75;
    transform: translate3d(0, 0.25rem, 0) scaleX(0);
  }
  20%,
  85% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -0.625rem, 0) scaleX(1);
  }
}

.coin--popup {
  animation: nadeneko-coin-popup var(--coin-popup-duration, 600ms) ease-in-out forwards;
}

.nadeneko-coin {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background: url('/images/icon/icon_coin_nadeneko.png') center / cover;
  opacity: 0;
  will-change: transform, opacity;
}

@keyframes nadeneko-finish {
  0%,
  90% {
    transform: scale(1) rotateZ(0deg);
  }
  100% {
    transform: scale(0) rotateZ(360deg);
  }
}

.animate-nadeneko-screen-finish {
  transform-origin: center center;
  animation: nadeneko-finish 2s ease-out forwards;
}

/* 画面全体の振動エフェクト */
.animate-nadeneko-screen-shake {
  animation: shake 0.1s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-0.05rem) translateY(-0.07rem);
  }
  30% {
    transform: translateX(0.07rem) translateY(0.07rem);
  }
  50% {
    transform: translateX(-0.05rem) translateY(-0.04rem);
  }
  70% {
    transform: translateX(0.03rem) translateY(0.01rem);
  }
  90% {
    transform: translateX(-0.02rem) translateY(-0.01rem);
  }
}

@keyframes nadeneko-result {
  0% {
    transform: scale(0) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

.animate-nadeneko-result {
  transform-origin: center center;
  animation: nadeneko-result 0.4s ease-out forwards;
}

@keyframes nadeneko-manzoku {
  0% {
    transform: scale(0) rotateZ(0deg);
  }
  100% {
    transform: scale(1) rotateZ(-10deg);
  }
}

.animate-nadeneko-manzoku {
  transform-origin: center center;
  animation: nadeneko-manzoku 0.4s ease-out forwards;
}

@keyframes nadeneko-rank {
  0%,
  90% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-nadeneko-rank {
  animation: nadeneko-rank 2s ease-out forwards;
}

@keyframes nadeneko-pet-message {
  0%,
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-8px);
  }
  90%,
  100% {
    transform: translateY(0);
  }
}

.animate-nadeneko-pet-message {
  animation: nadeneko-pet-message 2s ease-out infinite;
}

@keyframes nadeneko-sub-message-1 {
  0% {
    opacity: 1;
    transform: translateY(-5rem) translateX(-10rem) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-8rem) translateX(-12rem) scale(1.3);
  }
}

@keyframes nadeneko-sub-message-2 {
  0% {
    opacity: 1;
    transform: translateY(-8rem) translateX(-6rem) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-12rem) translateX(-8rem) scale(1.3);
  }
}

@keyframes nadeneko-sub-message-3 {
  0% {
    opacity: 1;
    transform: translateY(-8rem) translateX(2rem) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-12rem) translateX(4rem) scale(1.3);
  }
}

@keyframes nadeneko-sub-message-4 {
  0% {
    opacity: 1;
    transform: translateY(-5rem) translateX(3rem) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-8rem) translateX(5rem) scale(1.3);
  }
}

.animate-nadeneko-sub-message-1 {
  animation: nadeneko-sub-message-1 1s ease-out forwards;
}
.animate-nadeneko-sub-message-2 {
  animation: nadeneko-sub-message-2 1s ease-out forwards;
}
.animate-nadeneko-sub-message-3 {
  animation: nadeneko-sub-message-3 1s ease-out forwards;
}
.animate-nadeneko-sub-message-4 {
  animation: nadeneko-sub-message-4 1s ease-out forwards;
}
