@keyframes nadeneko-coin-popup {
  0% {
    opacity: 0;
    transform: translateY(1rem) rotateY(0deg) translateZ(0.01px);
  }
  20%,
  85% {
    opacity: 1;
    transform: translateY(0) rotateY(360deg) translateZ(0.01px);
  }
  100% {
    opacity: 1;
    transform: translateY(-0.625rem) rotateY(360deg) translateZ(0.01px);
  }
}

.animate-nadeneko-coin-popup {
  position: absolute;
  will-change: transform, opacity;
  /* 背景画像を指定する */
  background-image: url('/images/icon/icon_coin_nadeneko.png');
  background-size: cover;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
  animation: nadeneko-coin-popup var(--coin-popup-duration) ease-in-out forwards;
}

/* アニメーションを付与する時だけクラスを追加 */
.coin--popup {
  animation: nadeneko-coin-popup-2 var(--coin-popup-duration, 600ms) ease-in-out forwards;
}

/* Safari 最適化用に -webkit- 付きも併記 */
@keyframes nadeneko-coin-popup-2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0) rotateY(0deg);
  }
  20%,
  85% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateY(360deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -0.625rem, 0) rotateY(360deg);
  }
}
@-webkit-keyframes nadeneko-coin-popup-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1rem, 0) rotateY(0deg);
  }
  20%,
  85% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotateY(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -0.625rem, 0) rotateY(360deg);
  }
}

.coin {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background: url('/images/icon/icon_coin_nadeneko.png') center / cover;
  opacity: 0;
  will-change: transform, opacity;
}

@keyframes nadeneko-finish {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  100% {
    transform: scale(0) rotateZ(360deg);
  }
}

.animate-nadeneko-screen-finish {
  transform-origin: center center;
  animation: nadeneko-finish 0.4s ease-out forwards;
}

/* 画面全体の振動エフェクト */
.animate-nadeneko-screen-shake {
  animation: shake 0.1s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-0.05rem) translateY(-0.07rem);
  }
  30% {
    transform: translateX(0.07rem) translateY(0.07rem);
  }
  50% {
    transform: translateX(-0.05rem) translateY(-0.04rem);
  }
  70% {
    transform: translateX(0.03rem) translateY(0.01rem);
  }
  90% {
    transform: translateX(-0.02rem) translateY(-0.01rem);
  }
}

@keyframes nadeneko-result {
  0% {
    transform: scale(0) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

.animate-nadeneko-result {
  transform-origin: center center;
  animation: nadeneko-result 0.4s ease-out forwards;
}
