body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-shadow-2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow:
    0 0 1px #000,
    0 0 2px #000,
    0 0 6px #000,
    2px 2px 6px #333;
}

.text-shadow-3 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow:
    0 0 1px #000,
    0 0 6px #000,
    0 0 2px #000,
    2px 2px 8px #333;
}

/* セクションオーバーレイテキスト */
.text-section-overlay {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow:
    0 0 6px #000,
    0 0 2px #000,
    2px 2px 8px #333;
}

/* 画面上下のグラデーション */
.overlay-gradient {
  @apply fixed inset-0 pointer-events-none z-50;
  height: 100lvh;
  background: linear-gradient(
    to bottom,
    white 0px,
    white 50px,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 0) 80%,
    white 100%
  );
  transform: translateZ(0.01px);
}

/* 縦書き */
.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.btn-positive {
  @apply rounded;
  background-color: #358019;
  color: #ffffff;
  border: 2px solid #275a15;
}

.btn-positive:hover {
  @media (hover: hover) {
    background-color: #37861b;
  }
}

.btn-positive:disabled {
  background-color: #362317;
  border: 2px solid #23160f;
  color: #5c5c5c;
  cursor: not-allowed;
}

.btn-negative {
  @apply rounded;
  background-color: #8e2c16;
  color: #ffffff;
}

.btn-negative:hover {
  @media (hover: hover) {
    background-color: #a53319;
  }
}

.btn-negative:disabled {
  background-color: #37120a;
  border: 2px solid #23160f;
  color: #804b3f;
  cursor: not-allowed;
}

.btn-sub-natural {
  @apply rounded-full;
  background-color: #1a1a1a;
  color: #ffffff;
  box-shadow: 0 0 1px white;
}

.btn-sub-natural:hover {
  @media (hover: hover) {
    background-color: #323232;
  }
}

.btn-sub-natural:disabled {
  background-color: rgb(12, 12, 12);
  color: #3b3b3b;
  cursor: not-allowed;
  box-shadow: 0 0 1px rgb(110, 110, 110);
}

input[type='range'] {
  accent-color: #323232;
}

input[type='checkbox'] {
  accent-color: #323232;
}
