body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-underline {
  background: linear-gradient(transparent 70%, #ffdd44 70%);
}

.text-shadow-huchi {
  text-shadow:
    1px 0px 2px #6b4000,
    -1px 0px 2px #6b4000,
    0px 1px 2px #6b4000,
    0px -1px 2px #6b4000;
}

.text-shadow-huchi2 {
  text-shadow:
    2px 0px 3px #6b4000,
    -2px 0px 3px #6b4000,
    0px 2px 3px #6b4000,
    0px -2px 3px #6b4000;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-shadow-2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow:
    0 0 1px #000,
    0 0 2px #000,
    0 0 6px #000,
    2px 2px 6px #333;
}

.text-shadow-3 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow:
    0 0 1px #000,
    0 0 6px #000,
    0 0 2px #000,
    2px 2px 8px #333;
}

/* セクションオーバーレイテキスト */
.text-section-overlay {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow:
    0 0 6px #000,
    0 0 2px #000,
    2px 2px 8px #333;
}

/* 画面上下のグラデーション */
.overlay-gradient {
  @apply fixed inset-0 pointer-events-none z-50;
  height: 100lvh;
  background: linear-gradient(
    to bottom,
    white 0rem,
    white 3rem,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 0) 80%,
    white 100%
  );
  transform: translateZ(0.01px);
}

/* 縦書き */
.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

input[type='range'] {
  accent-color: #323232;
}

input[type='checkbox'] {
  accent-color: #323232;
}
