:root {
  --background: #ffffff;
  --foreground: #171717;
  --section-overlay-fade-duration: 2000ms;
  --ema-animate-fade-in-out-duration: 2000ms;
  --ema-insert-duration: 700ms;
  --ema-bounce-duration: 500ms;
  --ema-popup-duration: 6000ms;
  --coin-popup-duration: 2500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
